<div class="panel panel-default card-like txtct">
  <div class="panel-heading" role="tab" id="collapseListGroupHeading0">
    <h4 class="panel-title">
      <a class="" data-toggle="collapse" href="#collapseListGroup0" aria-expanded="true" aria-controls="collapseListGroup0">
        分类
      </a>
    </h4>
  </div>
  <div id="collapseListGroup0" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapseListGroupHeading0">
    <div class="incard">
		    <!-- 分类页 -->
		   	{{range $.cates}}
				<div class="{{if eq .CateId $.curCateId}}active{{end}}">
					<a href="{{$.cateUrl}}/{{.UrlTitle}}" 
					>{{.Title}}</a>
				</div>
			{{end}}
    </div>
  </div>
</div>

<div class="panel panel-default card-like txtct">
  <div class="panel-heading" role="tab" id="collapseListGroupHeading3">
    <h4 class="panel-title">
      <a class="" data-toggle="collapse" href="#collapseListGroup3" aria-expanded="true" aria-controls="collapseListGroup3">
        导航
      </a>
    </h4>
  </div>
  <div id="collapseListGroup3" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapseListGroupHeading3">
    <div class="incard">
		<div class="{{if $.curIsIndex}}active{{end}}">
			<a href="{{.indexUrl}}">主页</a>
		</div>
			<!-- 单页 
			{{range $.singles}}
			    <div class="{{if eq $.curSingleId .SingleId}}active{{end}}">
					<a href="{{$.singleUrl}}/{{.UrlTitle}}">{{.Title}}</a>
				</div>
			{{end}}-->
		<div class="{{if $.curIsArchive}}active{{end}}">
			<a href="{{$.archiveUrl}}">归档</a>
		</div>
		<div class="{{if $.curIsTags}}active{{end}}">
			<a href="{{$.tagsUrl}}">标签</a>
		</div>
    </div>
  </div>
</div>

<div class="panel panel-default card-like txtct">
  <div class="panel-heading" role="tab" id="collapseListGroupHeading2">
    <h4 class="panel-title">
      <a class="" data-toggle="collapse" href="#collapseListGroup2" aria-expanded="true" aria-controls="collapseListGroup2">
        友情链接
      </a>
    </h4>
  </div>
  <div id="collapseListGroup2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading2">
    <div class="incard">
        {{if $.themeInfo.FriendLinks}}
          {{range $.themeInfo.FriendLinks}}
          <div><a href="{{.Url}}" target="_blank">{{.Title}}</a></div>
          {{end}}
        {{end}}
    </div>
  </div>
</div>