{{template "000a.html" $}}
<!--=======================分割线=========================-->
<div id="postsContainer">
	<div id="posts">
		<div class="card">
			<h2>Archives {{if $.curCateTitle}} - {{$.curCateTitle}}{{end}}</h2>
		</div>
	    {{range $.archives}}
	    {{$year := .Year}}
		<div class="each-post card">
	        <h3>{{$year}}</h3>
	            {{range .MonthAchives}}
	                <div>{{$year}}-{{.Month}}</div>
		                {{range .Posts}}
		                <div>{{dateFormat .PublicTime "2006-01-02"}} <a href="{{$.postUrl}}/{{.UrlTitle}}">{{if .Title}}{{.Title}}{{else}}Untitled{{end}}</a></div>
		                {{end}}
	            {{end}}
		{{end}}
		</div>
	</div>
</div>
<!--=======================分割线=========================-->
{{template "000b.html" $}}