{{template "header.html" .}}
<div class="container" id="container-center">
    <div class="col-md-8">
        <h2 class="header-cate">归档 {{if $.curCateTitle}} - {{$.curCateTitle}}{{end}}</h2>
        <div id="postsContainer">
        	<div id="posts">
        	    <div class="post-outer">
        		<div class="each-post">
        		    <ul class="desc">
        		        {{range $.archives}}
        		        {{$year := .Year}}
        		       
            		            {{range .MonthAchives}}
                		        
                		          <span class="archive-month">{{$year}}-{{.Month}}</span>
                		          <ul>
                		                {{range .Posts}}
                		                <li>
                		                    {{dateFormat .PublicTime "2006-01-02"}} <a href="{{$.postUrl}}/{{.UrlTitle}}">{{.Title}}</a>
                		                </li>
                		                {{end}}
                		           </ul>
                		            
                		        
                		        {{end}}
                		    
            		    
            		    {{end}}
        		    </ul>
        		</div>
        		</div>
        	</div>
        </div>
    </div>
    <div class="col-md-4">
        {{template "aside.html" $}}
    </div>
</div>

{{template "footer.html" .}}

</body>
</html>