<div id="headerContainer">
	<div class="nosee-sm" id="header">
		<div class="card txtct">
		{{$username := .userInfo.Username}}
		{{if $.blogInfo.Logo}}
			{{if eq $.themeInfo.StickerLogo "true"}}
			<div class="sticker logo-sticker" id="blogLogosticker"></div>
			{{else}}
			<div id="blogLogo">
				<a href="{{$.indexUrl}}" id="logoa">
					<img src="{{$.blogInfo.Logo}}" title="{{$.blogInfo.Title}}" id="logopic"/>
				</a>
			</div>
			{{end}}
		{{else}}{{end}}
			<div id="blogTitle">
				<h1>
					<a href="{{$.indexUrl}}" id="logo">
						{{$.blogInfo.Title | raw}}
					</a>
				</h1>
			</div>
			<div id="blogDesc">
				{{$.blogInfo.SubTitle | raw}}
			</div>
		</div>
    </div>
</div>