{{range $.posts}}
	<div class="each-post panel panel-default card-like">
  <div class="panel-heading">
		<h3 class="title">
			<a href="{{$.postUrl}}/{{.UrlTitle}}" title="{{.Title}}">
			    {{if .Title}}
			        {{.Title}}
			    {{else}}
			        Untitled
				{{end}}
			</a>
		</h3>
		<div class="created-time">
			<i class="fa fa-clock-o"></i> {{.PublicTime | datetime}} 
			&nbsp;&nbsp;
			<span class="fa fa-eye"></span> {{.ReadNum}}
			&nbsp;&nbsp;
			<span class="fa fa-thumbs-o-up"></span> {{.LikeNum}}
			&nbsp;&nbsp;
			<span class="fa fa-comments-o"></span> {{.CommentNum}}
		</div>
  </div>


  <div class="panel-body">
		<div class="desc">
			{{.Abstract | raw}}
		</div>
  </div>


  <div class="panel-footer">
		<span id="moreContainer">
		    <a class="more" href="{{$.postUrl}}/{{.UrlTitle}}" title="{{.Title}}">...More</a>
        </span>
		<span class="created-time">
		    {{if .Tags}}
		    &nbsp;&nbsp;&nbsp;&nbsp;
			<i class="fa fa-bookmark-o"></i>
				{{blogTags $ .Tags}}
				&nbsp;&nbsp;
			{{end}}
		</span>
  </div>


  
	</div>
{{else}}
<div class="each-post card">
No Post
</div>
{{end}}