{{template "000a.html" $}}
<!--=======================分割线=========================-->
<div id="postsContainer">
	<div id="posts">
		<div class="card">
			<h2>Single Page</h2>
		</div>
		<div class="each-post">
			<div class="title">
				{{.single.Title}}
			</div>
			<div class="created-time">
				<i class="fa fa-clock-o"></i> {{$.single.UpdatedTime | datetime}} 
			</div>
			
			<!-- 仅为移动端 -->
			<div class="mobile-created-time">
			{{ if $.blogInfo.UserLogo}}
				<img src="{{$.blogInfo.UserLogo}}" id="userLogo">
			{{else}}
				<img src="{{$.siteUrl}}/images/blog/default_avatar.png" id="userLogo">
			{{end}}
			{{$.blogInfo.Username}}
			</div>
			
			<div class="desc" id="content">
					{{$.single.Content | raw}}
			</div>
		</div>
	</div>
</div>
<!--=======================分割线=========================-->
{{template "000b01.html" $}}
{{template "000blognav.html" $}}
<!--=======================分割线=========================-->

	<!-- 一些公用的js -->
	<script src="{{$.leanoteUrl}}/public/blog/js/common.js"></script>
	<script>
	$(function() {
		initNav();
	});
	</script>

<!--=======================分割线=========================-->
{{template "000b02.html" $}}