{{template "000a.html" $}}
<!--=======================分割线=========================-->
<div id="postsContainer">
	<div id="posts">
		<div class="each-post card">
			<h3>Tags</h3>
		    <ul>
		        {{range $.tags}}
		        <li>
	                <a href="{{$.tagPostsUrl}}/{{.Tag}}">
	                    {{.Tag}} {{.Count}}
	                </a> 
    		    </li>
    		    {{end}}
		    </ul>
		</div>
	</div>
</div>
<!--=======================分割线=========================-->
{{template "000b.html" $}}